body {
  background-color: #414853;
  color: #EBECF0;
}
#switch {
  background-color: #262e38;
  border-radius: 50px;
  padding: 5px;
}
.calculator {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
  display: grid;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  margin: 70px auto 0;
  text-align: center;
  width: 350px;
  height: 500px;
}
.display {
  background-color: #303946;
  font-size: 50px;
  grid-column: 1 / 5;
  padding: 20px 10px 0 0;
  text-align: right;
}
.btn {
  background-color: #303946;
  border-left: 1px solid #52575f;
  border-top: 1px solid #52575f;
  cursor: pointer;
  padding-top: 20px;
  user-select: none; 
}
.btn:active {
  transform: scale(0.85);
}
.btn:hover {
  background-color: #262e38;
  transition: 0.25s; 
}
.operator {
  background-color: #414853;
  border-top: 1px solid #636973;
}
.zero {
  grid-column: 1 / 3;
}
.color {
  background-color: #9DBC7B;
}
.color:hover {
  background-color: #93b46f;
}